<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%block stylesheet%}

    {% endblock %}
    <link rel="stylesheet" href="/static/css/ussdCSS.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/Images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/Images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/Images/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <title>Dialme</title>
    
</head>
<nav class="nav">
    <img src="/static/Images/logo.png"><img src="/static/Images/Dial.png">
    <!-- {%if user.is_authenticated%} -->
    <ul class="log">

        <li><span id="greeting"></span><span>{{user.first_name}}</span></li>
        <li><form action="/users/logout/" method="POST">
        {%csrf_token%}
        
            <button type="submit">Logout</button> </li>           
        </ul>
    </form>
    <!-- {%else%} -->
    <ul class="log">
        <li><a href="/users/login/"><button>Login</button></a></li>
        <li><a href="/users/registration/"><button>Register</button></a></li>
    </ul>
    {% endif %}
    <body><div class="empty"></div>
    
    </nav>
    
   <div class="content">
       {%block content%}

       {% endblock %}
   </div> 
   <script src="/static/dialme.js"></script>
</body>
</html>