#vue-app{width: 100%;}
.comida{width: 100%;}
#gameover{display: none;font-size: 20px;padding: 20px;background-color: #2b882b;border-radius: 4px;width:fit-content}
textarea{width: 100%;max-width: 600px;}
.typing{margin: auto auto;}