{% extends "basehtml.html"%}

{%block stylesheet%}
<link rel="stylesheet" href="/static/css/registrationcss.css">
{% endblock%}

{% block content%}

<form class="regform"action="/users/registration/" method="POST">
    {%csrf_token%}
    {% for field in form %}
    

    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
{% endfor %}
    <!-- {{ form.non_field_errors }}
<div class="fieldWrapper">
    <label for="{{ form.username.id_for_label }}">Your Number:</label>
    {{ form.username }}
    {{ form.username.errors }}
</div>
<div class="fieldWrapper">
    {{ form.first_name.errors }}
    <label for="{{ form.mfirst_name.id_for_label }}">First Name:</label>
    {{ form.first_name }}
</div>
<div class="fieldWrapper">
    {{ form.last_name.errors }}
    <label for="{{ form.last_name.id_for_label }}">Last Name:</label>
    {{ form.last_name}}
</div>
<div class="fieldWrapper">
    {{ form.password.errors }}
    <label for="{{ form.password.id_for_label }}">Password:</label>
    {{ form.password }}
</div>
<div class="fieldWrapper">
    {{ form.password1.errors }}
    <label for="{{ form.password1.id_for_label }}">Confirm Password:</label>
    {{ form.password1 }}
    <p id="passworderror"></p>
</div>
<div class="fieldWrapper">
    {{ form.mpin.errors }}
    <label for="{{ form.mpin1.id_for_label }}">Set Mpesa PIN:</label>
    {{ form.mpin1 }}
</div>
<div class="fieldWrapper">
    {{ form.mpin2.errors }}
    <label for="{{ form.mpin2.id_for_label }}">Confirm PIN:</label>
    {{ form.mpin2 }}
</div>
<p id="pinerror"></p> -->
    <input id="signup"type="submit" value="Register">

</form>


<script href="/static/dialme.js"></script>
{% endblock%}